In [10]:
import citipy2

mycity = citipy2.nearest_city(44,-123.1)
print(mycity)
print(mycity.city_name, mycity.country_code, mycity.city_lat, mycity.city_long)
myothercitycoords = citipy2.get_coordinates('eugene')
print(myothercitycoords[0])

<citipy2.City object at 0x7ff619685bb0>
eugene us 44.0522222 -123.0855556
-123.0855556

In [26]:
mycoords = citipy2.get_coordinates('salem')
print(mycoords[0], mycoords[1])
mycity = citipy2.nearest_city(44.9,-123.1)
print(mycity.city_name)
print(mycity.country_code)

-70.8972222 42.5194444
salem
us

In [40]:
import pandas as pd
df = pd.read_csv('worldcities.csv')
df.head()
#print(df.count())

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [43]:
# count unique values in Country and City columns
count_country = df['Country'].nunique()
count_city = df['City'].nunique()

print(count_country, count_city)
print(len(df))

208 42104
46832